/*=====================
General Style
======================*/
* {
  margin: 0;
  padding: 0;
}

.post {
  width: 1200px;
  margin: 0 auto;
}

.post img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
