@charset "UTF-8";
/*=====================
  General Style reset.css
  ======================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  line-height: 2;
  color: #555555;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

input[type=checkbox], input[type=radio] {
  padding: 0;
  margin: 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-item-align: center;
  align-self: center;
}

/*画像を縦に並べた時に余白が出ないように*/
img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}

/* +++++++++++++++++++++++++
  * Foundation
  ++++++++++++++++++++++++++ */
@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato/Lato-Light.ttf") format("woff");
}

@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("woff");
}

@font-face {
  font-family: 'Noto Sans JP Light';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format("oft");
}

@font-face {
  font-family: 'Noto Sans JP Regular';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format("oft");
}

@font-face {
  font-family: 'Noto Sans JP Medium';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format("off");
}

body {
  font-family: 'Lato Light', 'Lato', Helvetica,Arial,'Noto Sans JP Light','Noto Sans JP','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-weight: 300;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
}

/* +++++++++++++++++++++++++
  * layout
  ++++++++++++++++++++++++++ */
.l-wrapper {
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .l-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
}

/* +++++++++++++++++++++++++
  * Component
  ++++++++++++++++++++++++++ */
.c-header {
  width: 100%;
  height: auto;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .c-header {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 8px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .c-header {
    width: 100%;
    height: auto;
    padding: 8px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.c-header__logo {
  width: 96%;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .c-header__logo {
    width: 36%;
    margin: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.c-header__logo > a {
  width: 100%;
  text-decoration: none;
}

.c-header__logoInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.c-header__logo--symbol {
  width: 20%;
}

.c-header__logo--headline {
  width: 76%;
  font-size: 1.5rem;
  font-family: 'Lato Light',Helvetica,Arial,sans-serif;
  font-weight: 300;
  position: relative;
}

.c-header__nav {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

@media screen and (min-width: 768px) {
  .c-header__nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: ease;
    transition: ease;
  }
}

.c-header__nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  height: 100vh;
  position: absolute;
  top: 60px;
}

@media screen and (min-width: 768px) {
  .c-header__nav.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    overflow-y: auto;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    height: 80vh;
    position: static;
    top: 0;
  }
}

.c-navbar__toggle {
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .c-navbar__toggle {
    display: none;
  }
}

.c-navbar__toggle--icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #5c6b80;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.c-navbar__toggle--icon:nth-child(1) {
  top: 0;
}

.c-navbar__toggle--icon:nth-child(2) {
  margin: 8px 0;
}

.c-navbar__toggle--icon:nth-child(3) {
  bottom: 0;
}

.c-navbar__toggle.open .c-navbar__toggle--icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-navbar__toggle.open .c-navbar__toggle--icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.c-navbar__toggle.open .c-navbar__toggle--icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-gnavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .c-gnavi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 14px;
  }
}

.c-gnavi__navItem {
  position: relative;
  padding: 24px 0;
  margin-bottom: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .c-gnavi__navItem {
    position: relative;
    padding: 24px 0 4px;
    width: 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.c-gnavi__navItem::after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: solid 1px #aaa4a1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 0;
}

.c-gnavi__navItem:hover::after {
  width: 100%;
}

.c-gnavi__navItem:first-child:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4d8";
  top: 0;
  left: 50%;
}

@media screen and (min-width: 768px) {
  .c-gnavi__navItem:first-child:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f4d8";
    top: 0;
    left: 32px;
  }
}

.c-gnavi__navItem:nth-child(2):before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1bb";
  top: 0;
  left: 50%;
}

@media screen and (min-width: 768px) {
  .c-gnavi__navItem:nth-child(2):before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1bb";
    top: 0;
    left: 30px;
  }
}

.c-gnavi__navItem:nth-child(3):before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f328";
  top: 0;
  left: 50%;
}

@media screen and (min-width: 768px) {
  .c-gnavi__navItem:nth-child(3):before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f328";
    top: 0;
    left: 32px;
  }
}

.c-gnavi__navItem:last-child:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06c";
  top: 0;
  left: 50%;
}

@media screen and (min-width: 768px) {
  .c-gnavi__navItem:last-child:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06c";
    top: 0;
    left: 30px;
  }
}

.post {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 160px);
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  padding: 0;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .post {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    padding: 0 30px;
    font-size: 16px;
  }
}

.post-title {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 1.5rem;
  line-height: 2;
  align-self: center;
  z-index: 10;
  font-family: 'Noto Sans JP', 'Noto Sans JP Light', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .post-title {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    font-size: 2.8125em;
    line-height: 2;
    align-self: center;
    z-index: 10;
    font-family: 'Noto Sans JP', 'Noto Sans JP Light', sans-serif;
    font-weight: 300;
  }
}

.post-title__name {
  font-family: 'Lato','Lato Light', sans-serif;
}

.post-sub {
  grid-column: 1 / -1;
  grid-row: 2;
  color: #ddd;
  font-family: "Lato",sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.14em;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .post-sub {
    grid-column: 1 / -1;
    grid-row: 2;
    color: #ddd;
    font-family: "Lato",sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.14em;
    line-height: 1;
  }
}

.post-date {
  grid-column: 5;
  grid-row: 1;
  font-family: "Monserrat",sans-serif;
  font-size: 0.875em;
  justify-self: end;
}

.post-lead {
  grid-column: 1 / -1;
  grid-row: 3;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .post-lead {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 2;
  }
}

.post-figure01 {
  grid-column: 1 / -1;
  grid-row: 4 / 6;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .post-figure01 {
    grid-column: 3 / 6;
    grid-row: 3 / 6;
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .post-figure01 {
    grid-column: 3 / 6;
    grid-row: 3 / 6;
    margin-right: -30px;
  }
}

.post-figure01 img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-catch {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  font-size: 1.2rem;
  line-height: 1.5;
  justify-self: start;
  align-self: center;
  text-align: center;
  margin-left: 30px;
  line-height: 2;
  z-index: 10;
  font-family: 'Noto Sans JP', 'Noto Sans JP Light', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .post-catch {
    grid-column: 1 / 6;
    grid-row: 6 /8;
    font-size: 2rem;
    line-height: 1.5;
    justify-self: start;
    align-self: center;
    text-align: center;
    margin-left: 30px;
    line-height: 2;
    z-index: 10;
    font-family: 'Noto Sans JP', 'Noto Sans JP Light', sans-serif;
    font-weight: 300;
  }
}

.post-catch__sub {
  grid-column: 1 / -1;
  grid-row: 9;
  font-size: 2rem;
  color: #ddd;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  letter-spacing: 0.14em;
  line-height: 1;
  margin: 8px 0 0 40px;
}

@media screen and (min-width: 768px) {
  .post-catch__sub {
    grid-column: 1 / 6;
    grid-row: 7;
    font-size: 2rem;
    color: #ddd;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    letter-spacing: 0.14em;
    line-height: 1;
    margin: 8px 0 0 40px;
  }
}

.post-content01 {
  grid-column: 1 / -1;
  grid-row: 6 / 8;
  font-size: 1em;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media screen and (min-width: 768px) {
  .post-content01 {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    font-size: 1em;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
  }
}

.post-figure02 {
  grid-column: 1 / -1;
  grid-row: 10 / 13;
}

@media screen and (min-width: 768px) {
  .post-figure02 {
    grid-column: 1 / 3;
    grid-row: 8 / 11;
  }
}

.post-figure02 figcaption {
  font-size: 0.9375em;
  font-weight: 500;
}

.post-content02 {
  grid-column: 1 / -1;
  grid-row: 13 / 17;
  font-size: 1em;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media screen and (min-width: 768px) {
  .post-content02 {
    grid-column: 3 / 6;
    grid-row: 8 / 11;
    font-size: 1em;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
  }
}

.post-sns {
  grid-column: 5;
  grid-row: 8 / 13;
}

.post img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.c-bread {
  position: relative;
  padding-left: 30px;
}

.c-bread::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f015";
  font-weight: 900;
  left: 0;
  top: 0;
}

.c-transparent {
  font-size: 1.5rem;
  color: #888888;
  text-align: right;
}

/* +++++++++++++++++++++++++
  * Project
  ++++++++++++++++++++++++++ */
.p-mainVisual {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 106%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .p-mainVisual {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding-top: 31.25%;
  }
}

@media screen and (min-width: 992px) {
  .p-mainVisual {
    padding-top: 31.2%;
  }
}

.p-mainVisual picture {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.p-mainContent--menu {
  width: 100%;
  margin: 0 auto;
  background: #EAE9E6;
}

.p-menu {
  margin: 0 auto;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 80px 0;
}

.p-menu__grid--body {
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 60px);
}

@media screen and (min-width: 768px) {
  .p-menu__grid--body {
    width: 660px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 60px repeat(2, 1fr) repeat(3, 40px);
  }
}

.p-menu__grid--facial {
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 60px);
}

@media screen and (min-width: 768px) {
  .p-menu__grid--facial {
    width: 660px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 60px repeat(2, 1fr) repeat(3, 48px);
  }
}

.p-menu__grid--collagen {
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 60px);
}

@media screen and (min-width: 768px) {
  .p-menu__grid--collagen {
    width: 660px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 60px repeat(2, 1fr) repeat(3, 48px);
  }
}

.p-menu__heading {
  font-weight: 300;
  font-size: 1.25rem;
  position: relative;
  padding-left: 24px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.p-menu__heading::before {
  content: "";
  width: 4px;
  height: 30px;
  background-color: #544842;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.p-menu__heading--01 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .p-menu__heading--01 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }
}

.p-menu__heading--02 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .p-menu__heading--02 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }
}

.p-menu__heading--03 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .p-menu__heading--03 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }
}

.p-menu__heading--04 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

.p-menu__subTitle--01 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media screen and (min-width: 768px) {
  .p-menu__subTitle--01 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}

.p-menu__subTitle--02 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media screen and (min-width: 768px) {
  .p-menu__subTitle--02 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}

.p-menu__subTitle--03 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media screen and (min-width: 768px) {
  .p-menu__subTitle--03 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}

.p-menu__subTitle--04 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media screen and (min-width: 768px) {
  .p-menu__subTitle--04 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}

.p-menu__catch {
  font-size: 16px;
}

.p-menu__catch > p {
  color: #a49e8d;
}

.p-menu__catch--01 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

@media screen and (min-width: 768px) {
  .p-menu__catch--01 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
  }
}

.p-menu__catch--02 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

@media screen and (min-width: 768px) {
  .p-menu__catch--02 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
  }
}

.p-menu__catch--03 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

@media screen and (min-width: 768px) {
  .p-menu__catch--03 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
  }
}

.p-menu__catch--04 {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
}

.p-menuListBody--name {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background: #fff;
  padding: 8px 0 8px 16px;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--name {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    background: #fff;
    padding: 8px 0 8px 16px;
  }
}

.p-menuListBody--time01 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  padding: 2px 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--time01 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 2px 4px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListBody--time02 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  padding: 2px 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--time02 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    padding: 2px 4px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListBody--time03 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  padding: 2px 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--time03 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    padding: 2px 4px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListBody--price01 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  padding: 2px 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--price01 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding: 2px 4px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListBody--price02 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  padding: 2px 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--price02 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    padding: 2px 4px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListBody--price03 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  padding: 2px 4px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListBody--price03 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    padding: 2px 4px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListFacial--name {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background: #fff;
  padding: 8px 0 8px 16px;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--name {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    background: #fff;
    padding: 8px 0 8px 16px;
  }
}

.p-menuListFacial--time01 {
  grid-column: 1 / 2;
  grid-row: 6/ 7;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--time01 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListFacial--time02 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--time02 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListFacial--time03 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--time03 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListFacial--price01 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--price01 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListFacial--price02 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--price02 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListFacial--price03 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListFacial--price03 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListCollagen--name {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background: #fff;
  padding: 8px 0 8px 16px;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--name {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    background: #fff;
    padding: 8px 0 8px 16px;
  }
}

.p-menuListCollagen--time01 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--time01 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListCollagen--time02 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--time02 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListCollagen--time03 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--time03 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListCollagen--price01 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--price01 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListCollagen--price02 {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--price02 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-menuListCollagen--price03 {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  background: #fff;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .p-menuListCollagen--price03 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    background: #fff;
    padding: 8px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-mainContent {
  width: 960px;
  margin: 0 auto;
}

.p-breadCrumb {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto 24px;
}

.p-breadCrumb--parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.p-breadCrumb--item:nth-child(2) {
  position: relative;
  padding-left: 40px;
}

.p-breadCrumb--item:nth-child(2)::before {
  content: ">";
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: scale(0.9) translateY(-50%);
  transform: scale(0.9) translateY(-50%);
  background: #EAE9E6;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 1.5;
  padding-left: 6px;
  color: #544842;
}

.p-flow {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px 60px repeat(4, 1fr) 60px 60px repeat(4, 1fr) 60px 60px repeat(4, 1fr) 60px 60px repeat(4, 1fr);
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 0 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

.p-flow__heading {
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  padding-left: 48px;
  -ms-flex-item-align: center;
  align-self: center;
}

.p-flow__heading::before {
  content: "";
  width: 32px;
  height: 32px;
  background-color: #D0F4EA;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.p-flow__heading--01 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.p-flow__heading--02 {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}

.p-flow__heading--03 {
  grid-column: 1 / 3;
  grid-row: 13 / 14;
}

.p-flow__heading--04 {
  grid-column: 1 / 3;
  grid-row: 19 / 20;
}

.p-flow__subTitle--01 {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}

.p-flow__subTitle--02 {
  grid-column: 4 / 6;
  grid-row: 7 / 8;
}

.p-flow__subTitle--03 {
  grid-column: 4 / 6;
  grid-row: 13 / 14;
}

.p-flow__subTitle--04 {
  grid-column: 4 / 6;
  grid-row: 19 / 20;
}

.p-flow__catch {
  font-size: 16px;
  color: #555555;
}

.p-flow__catch--01 {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

.p-flow__catch--02 {
  grid-column: 1 / 6;
  grid-row: 8 / 9;
}

.p-flow__catch--03 {
  grid-column: 1 / 6;
  grid-row: 14 / 15;
}

.p-flow__catch--04 {
  grid-column: 1 / 6;
  grid-row: 20 / 21;
}

.p-flow__sentence--01 {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.p-flow__sentence--02 {
  grid-column: 1 / 4;
  grid-row: 9 / 11;
}

.p-flow__sentence--03 {
  grid-column: 1 / 4;
  grid-row: 15 / 17;
}

.p-flow__sentence--04 {
  grid-column: 1 / 4;
  grid-row: 21 / 23;
}

.p-flow__image--01 {
  grid-column: 4 / 6;
  grid-row: 3 / 5;
}

.p-flow__image--02 {
  grid-column: 4 / 6;
  grid-row: 9 / 11;
}

.p-flow__image--03 {
  grid-column: 4 / 6;
  grid-row: 15 / 17;
}

.p-flow__image--04 {
  grid-column: 4 / 6;
  grid-row: 21 / 23;
}

.p-underConstruct {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

.p-underConstruct__video {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 720px;
  display: none;
}

@media screen and (min-width: 768px) {
  .p-underConstruct__video {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .p-underConstruct__video {
    display: block;
  }
}

.p-underConstruct__video:hover::before {
  width: 1280px;
  height: 720px;
  opacity: .4;
}

.p-underConstruct__video:hover .p-underConstruct__video__heading {
  opacity: 1;
}

.p-underConstruct__video::before {
  content: '';
  position: absolute;
  background: url(../images/filter.png);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 1;
}

.p-underConstruct__videoInner {
  position: absolute;
  top: 0;
  left: 0;
}

.p-underConstruct__video__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  width: 50%;
  line-height: 3;
  padding: 4px;
  text-align: center;
  height: auto;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 1s ease-in-out .8s;
  transition: all 1s ease-in-out .8s;
}

.p-underConstruct__videoAlt {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 106%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .p-underConstruct__videoAlt {
    display: block;
    padding-top: 31.25%;
  }
}

@media screen and (min-width: 992px) {
  .p-underConstruct__videoAlt {
    display: none;
    padding-top: 31.2%;
  }
}

.p-underConstruct__videoAlt picture {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.p-underConstruct__notice {
  padding: 40px 20px;
}

.p-underConstruct__notice h3 {
  color: #C7B4A8;
  font-size: 60px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
}

.p-underConstruct__notice p {
  color: #714526;
}

.p-contactForm__heading {
  text-align: center;
  font-family: 'Noto Sans JP Light','Noto Sans JP','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  padding-top: 48px;
}

.p-contactForm__heading::before {
  content: url(../images/petit-chouchou_heading-logo.jpg);
  position: absolute;
  width: 60px;
  height: 48px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.p-mainContent--form {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .p-mainContent--form {
    width: 100%;
    margin: 0 auto;
  }
}

.p-mainContent--formInner {
  max-width: 960px;
  background: #eae9e6;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

.p-mainContent--formInner h3 {
  font-family: 'Noto Sans JP Light','Noto Sans JP','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-weight: 300;
}

.p-mainContent--formInner p {
  color: #714526;
}

.p-mainContent--formNotes {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .p-mainContent--formNotes {
    width: 660px;
    margin: 0 auto;
  }
}

.p-mainContent--formNotes h3 {
  text-align: center;
}

.p-mainContent--formNotes li {
  border-top: 1px solid #d3d1ca;
  padding: 16px 60px;
}

.p-mainContent--formList {
  border-top: 1px solid #d3d1ca;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .p-mainContent--formList {
    border-top: 1px solid #d3d1ca;
    padding: 16px 60px 16px 10px;
    width: 660px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.p-mainContent--formList > label {
  width: 100%;
  text-align: right;
  padding-right: 16px;
}

@media screen and (min-width: 992px) {
  .p-mainContent--formList > label {
    width: 50%;
    text-align: right;
    padding-right: 16px;
  }
}

.p-mainContent--formCommit {
  border-top: 1px solid #d3d1ca;
  border-bottom: 1px solid #d3d1ca;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .p-mainContent--formCommit {
    border-top: 1px solid #d3d1ca;
    border-bottom: 1px solid #d3d1ca;
    padding: 16px 60px 16px 10px;
    width: 660px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.p-mainContent--formCommit > .g-recaptcha {
  margin-bottom: 16px;
}

.p-thanks__heading {
  text-align: center;
  font-family: 'Noto Sans JP Light','Noto Sans JP','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  padding-top: 48px;
}

.p-thanks__heading::before {
  content: url(../images/petit-chouchou_heading-logo.jpg);
  position: absolute;
  width: 60px;
  height: 48px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.p-mainContent--thanks {
  width: 100%;
  margin: auto;
}

.p-mainContent--thanksInner {
  max-width: 960px;
  background: #eae9e6;
  width: 100%;
  margin: 0 auto;
  padding-top: 180%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-mainContent--thanksInner {
    max-width: 960px;
    background: #eae9e6;
    width: 100%;
    margin: 0 auto;
    padding-top: 40%;
    position: relative;
  }
}

.p-mainContent--thanksNotes {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .p-mainContent--thanksNotes {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 660px;
    margin: 0 auto;
  }
}

.p-mainContent--thanksNotes h3 {
  color: #fdfdfd;
  text-shadow: 2px 1px 2px #d3d1ca;
  font-size: 32px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  text-align: center;
}

.p-mainContent--thanksNotes li {
  border-top: 1px solid #d3d1ca;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .p-mainContent--thanksNotes li {
    border-top: 1px solid #d3d1ca;
    padding: 16px 60px;
  }
}

.p-personal__heading {
  text-align: center;
  font-family: 'Noto Sans JP Light','Noto Sans JP','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  padding-top: 48px;
}

.p-personal__heading::before {
  content: url(../images/petit-chouchou_heading-logo.jpg);
  position: absolute;
  width: 60px;
  height: 48px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.p-mainContent--personal {
  width: 100%;
  margin: 0 auto;
}

.p-mainContent--personalInner {
  max-width: 960px;
  background: #eae9e6;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

.p-mainContent--personalInner h3 {
  font-family: 'Noto Sans JP Light','Noto Sans JP','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-weight: 300;
}

.p-mainContent--personalInner p {
  color: #714526;
}

.p-mainContent--personalNotes {
  max-width: 960px;
  background: #eae9e6;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .p-mainContent--personalNotes {
    max-width: 960px;
    background: #eae9e6;
    width: 100%;
    margin: 0 auto;
    padding: 40px 80px;
  }
}

.p-mainContent--personalNotes h3 {
  font-size: 1.25rem;
  text-align: left;
  position: relative;
  padding-left: 16px;
}

.p-mainContent--personalNotes h3::before {
  content: "";
  width: 4px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #544842;
}

.p-mainContent--personalNotes p {
  border-top: 1px solid #d3d1ca;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .p-mainContent--personalNotes p {
    border-top: 1px solid #d3d1ca;
    padding: 16px 60px;
  }
}

.p-mainContent--personalNotes li {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .p-mainContent--personalNotes li {
    padding: 8px 60px;
  }
}

.p-footer .p-footer__btn {
  width: 100%;
  background-color: #a39d8c;
  padding: 24px 0;
  color: #fff;
}

.p-footer__btn {
  text-align: center;
}

.sp__nav--wrap {
  display: block;
}

@media screen and (min-width: 992px) {
  .sp__nav--wrap {
    display: none;
  }
}

.sp__nav--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sp__nav--list li {
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.sp__nav--list li:nth-child(odd) {
  background: #eaeaea;
}

.slideshow {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-top: 106%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .slideshow {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 31.25%;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {
  .slideshow {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 31.2%;
    margin-bottom: 40px;
  }
}

.slideshow picture {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  display: none;
  height: 580px;
}

@media screen and (min-width: 768px) {
  .slideshow picture {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: none;
    height: 290px;
  }
}

@media screen and (min-width: 992px) {
  .slideshow picture {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: none;
    height: 400px;
  }
}

.anm_mod {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.anm_mod.left {
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}

.anm_mod.right {
  -webkit-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0);
}

.anm_mod.delay {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.anm_mod.fast {
  -webkit-transition: all 0.8 ease;
  transition: all 0.8 ease;
}

.anm_mod.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* +++++++++++++++++++++++++
  * Utility
  ++++++++++++++++++++++++++ */
.link--none {
  text-decoration: none;
  color: #555555;
  cursor: pointer;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-80 {
  margin-bottom: 80px;
}
